.modal-block {
  display: block;
  opacity: 1;
  background: rgba(0,0,0,0.5);
}

.modal-block > div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%)!important;
}

.modal-body {
  overflow: hidden;
  margin: 0 10px 0 10px;
  padding-left: 0;
}